* {
    box-sizing:border-box;
}

body {
    background-image: url(images/qbkls.png);

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.topHeaderContainer {
    border-bottom:2px solid #cccccc; 
    width: 100%;
}

.navCustom {
    width: 980px; 
    margin: auto;
}


.aboutMeRow {
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', 'Times', 'Times New Roman','serif';
    color: #4aaaac;
}

p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;

}

.footerCustom {
    background-color: #666666;
    border-top: 2px solid #4aaaac;
    bottom:0;
    color: #ffffff;
}

/* /* .card-footer {
    position:relative;
} */

.portfolioTitles {
    background-color: #4aaaac;
    color: #ffffff;
    text-align:center;
}

.btnCustom {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaac;
    color: #ffffff;
    border-color: #4aaaac;
}
